<div class="main">
  <div class="header"></div>
  <div class="center">
    <h1 class="title">Twitter User Analyzer</h1>
    <form (submit)="doSearch()">
      <mat-card>
        &gt;
        <mat-form-field id="userfield">
          <input matInput
                 placeholder="Enter username..."
                 name="user"
                 [(ngModel)]="currentUser"
                 [formControl]="userForm"
                 [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
            {{user.fullname}}: {{user.username}}
          </mat-option>
        </mat-autocomplete>
        &lt;
        <br>
        <button mat-raised-button color="primary" (click)="doSearch()">Analyze!</button>
      </mat-card>
    </form>
  </div>
  <div class="footer" *ngIf="analyzing">
    <i>Analyzing user...</i>
    <mat-spinner diameter="40"></mat-spinner>
    <i class="small">Please be patient, if this user hasn't been analyzed yet today it can take some time!</i>
  </div>
</div>
