@import 'cream-theme.scss';

html, body {
  height: 100%;
}

body {
  background: #4e525e !important;
  color: #dfe0e2 !important;
  font-family: 'Kodchasan', sans-serif;
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: 'Orbitron', monospace;
}

h2, h3 {
  margin-bottom: -0.5em;
}
